.img1 {
	width: 100%;
	height: auto;
}

.img2 {
	width: 33%;
	height: auto;
}

.img3 {
	width: 25%;
	height: auto;
}

.img1, .img2, .img3 {
	padding: 0 4px 4px 0;
}

#cadre {
	overflow: scroll;
	overflow-x: hidden;
}