#logo-header {
	height: 150px;
	width: 150px;
	border-radius: 75px;
	margin: 10px 25px 10px;
	float: left;
}

#navigation {
	margin-top: 92px;
}

#navigation a{
	text-decoration: none;
	text-transform: uppercase;
	color: #e54134;
	margin-right: 5%;
}

header h1 {
	text-transform: uppercase;
	color: #e54134;
}

header{
	margin-bottom: 100px;
}

.navbar-toggle, .icon-bar{
	border: 1px solid #e54134;
}